#posts {
	padding-top: 2vh;
}

.post {
	text-decoration: none;
}

.individualPost {
	display: flex;
	justify-content: center;
	padding: 0.5vh 0vh 2vh 3vh;
	border-bottom: #000 1px solid;
}

.optionsMenu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	justify-content: space-evenly;
	height: auto;
	width: 100%;
}

.titlepost {
	font-size: 4vh;
	color: #000;
	width: 90vw;
}

.authorpost {
	font-size: 2vh;
	color: #1f1d1d;
}

.datepost {
	font-size: 1.5vh;
	color: #1f1d1d;
}

#dropdown {
	border-radius: 15px;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#verMenu {
	background-color: #3498db;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.optionsDiv {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	align-items: center;
}

#dropdown:hover,
#dropdown:focus {
	background-color: #2980b9;
}

.show {
	display: block !important;
}

.img-dropdown {
	background: "/u/{{ session.get('user')[1] }}/img";
	::after {
		content: "&#x25B2;";
		.activated {
			content: "&#x25BC;";
		}
	}
}
