.header {
	width: 100%;
	height: 6vh;
	display: flex;
	align-items: center;
	background-color: #221c35;
}

#logo {
	margin-left: 1vh;
	height: 5.5vh;
	cursor: pointer;
}

#menu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	transition: 0.5s;
	background: linear-gradient(180deg, #201d29 -3.38%, #221c35 78.58%);
	display: none;
	flex-direction: column;
}

.openMenu {
	display: none;
}

.enlaceMovil {
	padding-top: 5vh;
	padding-left: 1vw;
	text-decoration: none;
	color: white;
	font-size: 3vh;
}

.enlace {
	line-height: 240%;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 2.5vh;
	height: 90%;
}

.enlace:hover {
	border-bottom: 0.5vh solid #4ac1e0;
	//border-bottom-width: 10px solid #4AC1E0;
}

.buttons {
	padding-left: 3vw;
	padding-right: 3vw;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 1136px) {
	.buttons {
		display: none;
	}

	.openMenu {
		display: flex;
		justify-content: center;
		height: 100%;
		width: 5vh;
		border: none;
		cursor: pointer;
		color: #fff;
		font-size: 5vh;
		background-color: inherit;
	}

	#TopMenu {
		width: 100%;
		height: 6vh;
	}

	#separator {
		width: 90%;
		border: 2px solid #fff;
		margin-top: 1.5vh;
		border-radius: 25px;
	}
}
