.post {
    margin: 2vw;
}

.title_block {
    margin-bottom: 50px;
    margin-top: 50px;
}

#author,
#date {
    color: #7a7a7a;
    margin: 0.4rem 0.4rem;
}

#post_title {
    font-size: 3.3rem;
    margin: 0;
}

#author {
    font-size: 1.7rem;
}
.reply {
    margin-left: 1px;
    border-left: 2px solid lightgray;
    padding-left: 13px;
    margin: 10px 0;
}
.vote {
    display: inline-block;
}
.vote button {
    border: none;
    padding: 3px;
    margin: 0;
    background: none;
    font-size: 1.25rem;
    color: lightgray;
}
.upvote.selected {
    color: darkorange;
}
.downvote.selected {
    color: CornflowerBlue;
}

.hidden {
    display: none;
}

.comment img {
    height: 1em;
}

.bbuton {
    width: auto;
    height: 3vh;
}

#bbText {
    line-height: 30px;
    width: auto;
    height: 3vh;
    font-size: 2vh;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    color: #000;
}

#exit {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #999999;
    border: #000 1px solid;
}
