#title {
	color:red;
	font-family: Arial;
	font-size: large;

}
#titlediv {

	position:relative;
	left: 0;
	top: 20%;
	width: 100%;
   
	color:black;
}
#contentdiv {
	height: 80%;
	width: 100%;
	height: auto; 
}
