.header {
	width: 100%;
	height: 6vh;
	display: flex;
	align-items: center;
	background-color: #101010;
}

#logo {
	margin-left: 2vh;
	margin-top: 5px;
	height: 5.5vh;
	cursor: pointer;
}

#menu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	transition: 0.5s;
	background-color: #101010;
	display: none;
	flex-direction: column;
}

.openMenu {
	display: none;
}

.enlaceMovil {
	padding-top: 5vh;
	padding-left: 1vw;
	text-decoration: none;
	color: white;
	font-size: 3vh;
}

.enlace {
	padding-bottom: none;
	text-decoration: none;
	color: white;
	font-size: 2.5vh;
}

.buttons{
	padding-left: 3vw;
	padding-right: 3vw;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media screen and (max-width: 1100px) {
	.buttons{
		display: none;
	}

	.openMenu {
		display: flex;
		align-items: center;
		padding: 1vw;
		height: 6vh;
		width: 6vw;
		font-size: 5vh;
		background-color: #101010;
		color: #fff;
		border: none;
		cursor: pointer;
	}
}
