.header {
	width: 100%;
	height: 6vh;
	display: flex;
	align-items: center;
	background-color: #101010;
}

#logo {
	margin-left: 2vh;
	margin-top: 5px;
	height: 5.5vh;
	cursor: pointer;
}


.mobileLink {
	padding-top: 5vh;
	padding-left: 1vw;
	text-decoration: none;
	color: white;
	font-size: 3vh;
}

.link {
	text-decoration: none;
	color: white;
	font-size: 2.5vh;
}

.buttons{
	padding-left: 3vw;
	padding-right: 4vw;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.openMenu {
	display: none;
}


//Style for the div containig mobile buttons
#menu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	transition: 0.5s;
	background-color: #101010;
	display: none;
	flex-direction: column;
}

//Button that shows the menu div
.openMenu {
	font-size: 6vmax;
	background-color: #101010;
	color: #fff;
	border: none;
	cursor: pointer;
	font-weight: bold;
	width: 15vw;
}