.bbuton {
    width:5%;
    height:5%;
    top: 2%;
    left: 2%;
    position: absolute;
    border-bottom: #000 1px solid;
    border-right: #000 1px solid;
  
}

.button{
    display:inline-block;
    bottom:0;
    right:0;
}

.imgAdd{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #282E34;
    position: fixed;
    height: 85%;
    width: 65%;
    margin-top: 2%;
    margin-left: 5%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.textt{
    position: absolute;
    top: 2%;
    left: 10%;
    color: white;

    
}
.premade{
    position: absolute;
    margin-top: 2%;
    right: 5%;
    background-color: #282E34; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
    height: 85%;
    width: 23%;
}
.upImg{
    background-color: grey;
    border-bottom: #000 1px solid;
    border-right: #000 1px solid;
    height:22%;
    width: 22%;

}
.ppic{
    border-bottom: #000 2px solid;
    border-right: #000 2px solid;
    position: absolute;
    top: 10%;
    left: 8%;
    width: 22%;
    height: 32%
}
.selectPic{
    top: 50%;
    left: 10%;
    position: absolute;
}
#pic{
    border-bottom: #000 2px solid;
    border-right: #000 2px solid;
    position: absolute;
    top:57%;
    left:8%;
    width: 22%;
    height: 32%
}
.texti{
    position: absolute;
    top:46%;
    left:8%;  
    color:white;
}
.textp{
    position: absolute;
    top:2%;
    left:5%;  
    color:white;
}
.scroll{
    position: absolute;
    top: 15%;
    right: 2%;
    left: 2%;
    background-color: lightblue;
    overflow-y: scroll;
  }