{% extends "layout.html" %}
{% block title %}Blog{% endblock %}
{% block head %}
		<script src="/js/rsa_encrypt.js"></script>
		<script src="/js/header.js"></script>
		<script src="/js/forms.js"></script>
		<link rel="stylesheet" href="/css/headerBlog.css">
		<link rel="stylesheet" href="/css/blog.css">
{% endblock %}
{% block header %}
<div class="BlogHeader">
	{% include 'headerBlog.html' %}
</div>
{% endblock %}
{% block content %}

<div id="posts">
	
</div>

<script src="/js/blog.js"></script>
{% endblock %}