{% extends "layout.html" %}

{% block title %}Create Post{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/create_post.css">
{% endblock %}
{% block header %}
<div class="BlogHeader">
	{% include 'header.html' %}
</div>
{% endblock %}
{% block content %}
<h4>Autor: <b>{{ session.get('user')[2] }}</b></h4>
{% if editPost %}
<form action="/post/{{ editPost }}/edit" method="POST">
{% else %}
<form action="/create_post" method="POST">
{% endif %}
	<div id="titlediv">
		<label for="title"><b>Título</b></label>
		<input name="title" id="title" type="text" value="{{ title }}">
	</div>
	<div id="contentdiv">
		<textarea name="content" id="content" placeholder="Escribe aquí tu texto">{{ content }}</textarea>
		<input type="submit" value="{% if editPost %}Save{% else %}Create{% endif %}">
	</div>
</form>
{% endblock %}