{% extends "layout.html" %}

{% block title %}Create Post{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/create_post.css">
{% endblock %}
{% block header %}
<div class="BlogHeader">
	{% include 'header.html' %}
</div>
{% endblock %}
{% block content %}

<form action="/create_post" method="POST">
	<div id="tools">
		<div id="toolsTop">
			<div>
				<p>Title</p>
			</div>
			<div id="titleDiv">
				<input name="title" id="title" type="text">
				<input class="buttonTop" id="previwB" type="button" value="Preview Markdown">
				<input class="buttonTop" id="publishB" type="submit" value="Publish Post">
			</div>
		</div>
		<div id="toolsBottom">
			<p id="autor">Post escrito por: {{ session.get('user')[2] }}</p>
		</div>
	</div>
	<div id="contentDiv">
		<div name="content" id="content" contenteditable></div>
	</div>
</form>
{% endblock %}