<div class="header">
	<button class="openMenu" onclick="_open()">≡</button>
	<img onclick="window.location.href='/';" src="img/logo.svg" id="logo">
	<nav class="buttons">
		<a class="enlace" href="/">¿Quíenes somos?</a>
		<a class="enlace" href="/">¿Qué es Coderdojo?</a>
		<a class="enlace" href="/">Contacto</a>
		<a class="enlace" href="/blog">Blog</a>
	</nav>
</div>


<div id="menu">
	<div id="TopMenu">
		<button class="openMenu" onclick="_close()">x</button>
	</div>
	<div style="display: flex;justify-content: center; width: 100%;"><div id="separator"></div></div>
	<a class="enlaceMovil" href="/">¿Quíenes somos?</a>
	<a class="enlaceMovil" href="/">¿Qué es Coderdojo?</a>
	<a class="enlaceMovil" href="/">Contacto</a>
	<a class="enlaceMovil" href="/blog">Blog</a>

</div>