{% extends "layout.html" %}
{% block title %}Change Image{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/image.css">
<link rel="stylesheet" href="/css/header.css">
<script src="js/header.js"></script>
{% endblock %}
{% block header %}
<div class="BlogHeader">
	{% include 'header.html' %}
</div>
{% endblock %}
{% block content %}
{% if session.get('user') %}
<div class="imgAdd">
	<div id="dbb">
		<form action="/blog">
			<input class="bbuton" src="/img/back.png" type="image" value="Back">
		</form>
	</div>
	<div id="thingsLeft">
		<p class="textt">CURRENT PROFILE PICTURE</p>
		<img class="pic" src="/u/{{ session.get('user')[1] }}/img">
		<p class="textt">NEW PROFILE PICTURE</p>
		<img class="pic" id="pic">
	</div>
	<div id="thingsRight">
		<div id="thingsTop">
			<p class="texti">INSERT IMAGE FROM DEVICE</p>
			<p style="color: #696969;"><!--Nice!-->Upload a picture from your device.<br>All images will be limited to 130 pixels, so we recommend a square picture that is at least those measurements.</p>
			<input class="selectPic" type="file" id="image" data-multiple-caption="{count} files selected">
			<label id="chooseFile" for="image">Choose a file</label>
		</div>
		<div id="thingsBottom">
				<input id="cancelButton" type="button" value="Cancel"></input>
			<form action="/update_img" method="post" id="form">
				<input type="hidden" name="image" id="update_img_base64">
				<input id="updateButton" type="submit" value="Update image" disabled>
			</form>
			</div>
	</div>

</div>
<div class="premade">
	<p class="textt" id="RTitle">OR CHOOSE FROM THESE</p>
	<div class="scroll">
		<input class="diplayPic" src="/img/Profp1.png" type="image"></input>
		<input class="diplayPic" src="/img/Profp2.png" type="image"></input>
		<input class="diplayPic" src="/img/Profp3.png" type="image"></input>
		<input class="diplayPic" src="/img/Profp4.png" type="image"></input>
	</div>

	<p class="textt" id="RTitle">OR MAKE YOUR OWN</p>
	<div style="margin: auto; width: max-content;">
		<div style="display: inline-block;position: relative; top: -16%;">
			<button id="prev_hair" style="display: block;margin-bottom: 100px;">←</button>
			<button id="prev_body" style="display: block;">←</button>
		</div>
		<img style="display: inline-block; width: 256px;" id="custom_image" src="/img/profile_pics/faces/Buffed_blu_soldier.jpg">
		<div style="display: inline-block;position: relative; top: -16%;">
			<button id="next_hair" style="display: block;margin-bottom: 100px;">→</button>
			<button id="next_body" style="display: block;">→</button>
		</div>
	</div>
	<button id="set_cutom_image" style="margin: auto; display: block">Set!</button>
	<form action="/update_img" method="post" class="hidden">
		<input type="hidden" name="image" id="update_img_base64_custom">
		<input id="updateButtonCustom" type="submit" value="Update image">
	</form>
</div>
{% endif %}

<script src="/js/profile_pic_gen.js"></script>
<script src="./js/image.js"></script>
{% endblock%}