{% for post in posts %}
<div class="individualPost">
	<a class="post" href="/post/{{ post['uuid'] }}">
		<p class="titlepost">{{ post['title'] }} </p>
		<p class="authorpost">Author: {{ post['author'] }}</p>
		<p class="datepost">Date: {{ post['date'] }}</p>
	</a>
	{% if session.get('user') %}
	{% if session.get('user')[3] > 0 %}
	<div class="optionsMenu">
		<div class="optionsDiv">
			<i class="material-icons edit">&#xe3c9;</i>
			<a style="cursor: pointer;" type="button" name="_method">Editar</a>
		</div>
		<div class="optionsDiv">
			<i class="material-icons delete">&#xe872;</i>
			<p style="cursor: pointer;" a>Borrar</p>
		</div>
	</div>
	{% endif%}
	{% endif%}
</div>
{% endfor %}