.header {
	width           : 100%;
	height          : 7vh;
	background-color: #101010;
}

.innerHeader {
	height: 100%;
	display: flex;
	align-items: center;
}

#logo{
	height: 6vh;
}

.enlaceMovil {
	padding-bottom: 5vh;
	padding-left: 1vw;
	text-decoration: none;
	color          : white;
	font-size      : 4vh;
}

#menu {
	height          : 100%;
	width           : 0;
	position        : fixed;
	z-index         : 1;
	top             : 0;
	overflow-x      : hidden;
	transition      : 0.5s;
	background-color: #101010;
	display         : none;
	flex-direction  : column;
}

.openMenu {
	font-size       : 6vmax;
	background-color: #101010;
	color           : #fff;
	border          : none;
	cursor          : pointer;
	font-weight     : bold;
	width           : 15vw;
}

.otherMenu {display: none;}

@media screen and (min-width: 1000px) {  		/*New CSS for screens larger than 1000px. Desktop screens*/
	.header{
	}
	
	.enlace{
		padding-bottom: none;
		text-decoration: none;
		color          : white;
		font-size      : 4vh;
	}

	#divLogo{
		width: 25%;
		padding-left: 2vw;
	}

	.otherMenu {
		display: flex;
		justify-content: space-between;
		align-self: center;
		justify-self: flex-end;
		width: 70%;
		flex-wrap: wrap;
	}

	.innerHeader {
		
	}

	.openMenu {display: none;}
}