<script src="js/index.js"></script>
<div class="header">
	<div class="innerHeader">
		<button class="openMenu" onclick="_open()">
			≡
		</button>
		<div id="divLogo"><a href="/"><img src="/img/logo.svg" id="logo"></div></a>
		<div class="otherMenu">
			<a class="enlace" href="/blog">Blog</a>
			{% if session.get('user') %}
			<a class="enlace">{{ session.get('user')[2] }}</a>
			<img src="/u/{{ session.get('user')[1] }}/img" style="max-height: 3vh;">
			<a class="enlace" href="/logout">Log out</a>
			{% else %}
			<a class="enlace" style="cursor: pointer;" onclick="onLogIn()">Log In</a>
			<a class="enlace" style="cursor: pointer;" onclick="onSignUp()">Sign Up</a>
			{% endif %}
		</div>
	</div>
</div>


<img id="menu">
	<button class="openMenu" onclick="_close()">⨯</button>
	<a class="enlaceMovil" href="/blog">Blog</a>
	{% if session.get('user') %}
	<button onclick="showDropdown()" id="verMenu">Dropdown</button>
	<!-- <img src="/u/{{ session.get('user')[1] }}/img" style="max-height: 3vh;" class="img-dropdown"> -->
	<div style="max-height: 3vh; width: auto;" class="img-dropdown"></div>
	
	{% else %}
	<a class="enlaceMovil" style="cursor: pointer;" onclick="onLogIn()">Log In</a>
	<a class="enlaceMovil" style="cursor: pointer;" onclick="onSignUp()">Sign Up</a>
	{% endif %}
	
</div>

<div id="dropdown" class="dropdown-content">
	<p>Logged in as<br><b>{{ session.get('user')[2] }}</b></p>
	<a class="enlace" href="/logout">Log out</a>
</div>