{% extends "layout.html" %}
{% block title %}Blog{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<script src="/js/blog.js"></script>
{% endblock %}
{% block header %}
<div class="BlogHeader">
  {% include 'BlogHeader.html' %}
</div>
{% endblock %}
{% block content %}
<div class="posts">
  {% for post in posts %}
  <div class="post">
    <hr>
    <a href="/post/{{ post['uuid'] }}">
      Title: {{ post['title'] }} <br>
      Author: {{ post['author'] }} <br>
      Date: {{ post['date'] }}
    </a>
    <hr>
  </div>
  {% endfor %}
</div>

<!--Codigo para los bottones menus de LogIn y Sign Up-->

<!--LogIn-->
<div id="logIn" class="modal" onclick="offLogIn(event,this)">
  <form action="/login" method="POST">
    <div class="modal-content animate">
      <div class="headForm">
        <span onclick="offLogIn(event,this)" class="close" title="Close Modal">&times;</span>
        <img src="/img/CoderDojoLogo.svg" alt="logo" class="avatar">
        <h1 id="formTitle">Inicia sesión en CoderDojo Majadahonda</h1>
      </div>

      <div class="container">
        <label for="uname"><b>Nombre de usuario</b></label>
        <input type="text" placeholder="Escribe tu nombre de usuario" name="username" required>

        <label for="psw"><b>Contraseña</b></label>
        <input type="password" placeholder="Escribe tu contraseña" name="password" required>

        <button id="formButton" type="submit">Login</button>
        <span class="psw">No tienes una cuenta?
          <a style="color: blue;text-decoration: underline" onclick="offLogIn();onSignUp()">Créate una!</a>
        </span>
      </div>
    </div>
  </form>
</div>

<!--SignUp-->
<div id="signUp" class="modal" onclick="offSignUp(event,this)">
  <form action="/signup" method="POST">
    <div class="modal-content animate">
      <div class="headForm">
        <span onclick="offSignUp(event,this)" class="close" title="Close Modal">&times;</span>
        <img src="/img/CoderDojoLogo.svg" alt="logo" class="avatar">
        <h1 id="formTitle">Crea una cuenta en CoderDojo Majadahonda</h1>
      </div>

      <div class="container">
        <label for="uname"><b>Numbre de usuario</b></label>
        <input type="text" placeholder="Escribe un nobre de usuario" name="username" required>

        <label for="psw"><b>Contraseña</b></label>
        <input id="p" type="password" placeholder="Escribe una contraseña" name="password" onkeyup="check();" required>

        <label for="psw"><b>Repetir contraseña</b></label>
        <input id="rp" type="password" placeholder="Repite tu contraseña" onkeyup="check();" required>

        <button id="formButton" type="submit">Login</button>
        <span class="psw">No tienes una cuenta?<a style="color: blue;text-decoration: underline"onclick="offSignUp();onLogIn()">Créate una!</a></span>
        <span id='message'></span>
      </div>
    </div>
  </form>
</div>

{% endblock %}