<script src="js/index.js"></script>
<div class="header">
	<div class="innerHeader">
		<button class="openMenu" onclick="_open()">
			≡
		</button>
		<div id="divLogo"><a href="/"><img src="img/logo.svg" id="logo"></div></a>
		<div class="otherMenu">
			<a class="enlace" href="/blog">Blog</a>
			<a class="enlace" OnLogIn="onLogin()">Login</a>
			<a class="enlace" OnSignIn="onSignIn()">Sign up</a>
			
		</div>
	</div>
</div>


<div id="menu">
	<button class="openMenu" onclick="_close()">
		⨯
	</button>

	<a class="enlaceMovil" href="/#Quienes">Blog</a>
	<a class="enlaceMovil" href="/#Que">Login</a>
	<a class="enlaceMovil" href="/#Contacto">Sign up</a>
	

</div>