{% extends "layout.html" %}

{% block title %}Create Post{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/create_post.css">
{% endblock %}
{% block header %}
<div class="BlogHeader">
	{% include 'headerBlog.html' %}
</div>
{% endblock %}
{% block content %}
<h4>Autor: <b>{{ session.get('user')[2] }}</b></h4>
<form action="/create_post" method="POST">
	<div id="titlediv">
		<label for="title"><b>Título</b></label>
		<input name="title" id="title" type="text">
	</div>
	<div id="contentdiv">
		<textarea name="content" id="content" placeholder="Escribe aquí tu texto"></textarea>
		<input type="submit" value="Create">
	</div>
</form>
{% endblock %}