<script src="js/index.js"></script>
<div class="header">
	<div class="inerHeader">
		<button class="openMenu" onclick="_open()">
			≡
		</button>
		<div id="divLogo"><img src="img/logo.svg" id="logo"></div>
		<div class="otherMenu">
			<a class="enlace" href="#">¿Quíenes somos?</a>
			<a class="enlace" href="#">¿Qué es Coderdojo?</a>
			<a class="enlace" href="#">Contacto</a>
			<a class="enlace" href="#">Blog</a>
		</div>
	</div>
</div>


<div id="menu">
	<button class="openMenu" onclick="_close()">
		⨯
	</button>

	<a class="enlace" href="#">¿Quíenes somos?</a>
	<a class="enlace" href="#">¿Qué es Coderdojo?</a>
	<a class="enlace" href="#">Contacto</a>
	<a class="enlace" href="#">Blog</a>

</div>