<script src="js/header.js"></script>
<link rel="stylesheet" href="/css/header.css">
<div class="header">
	<div class="innerHeader">
		<button class="openMenu" onclick="_open()">≡</button>
		<div id="divLogo"><img onclick="window.location.href='/';" src="img/logo.svg" id="logo"></div>
		<nav class="buttons">
			<a class="enlace" href="/#Quienes">¿Quíenes somos?</a>
			<a class="enlace" href="/#Que">¿Qué es Coderdojo?</a>
			<a class="enlace" href="/#Contacto">Contacto</a>
			<a class="enlace" href="/blog">Blog</a>
		</nav>
	</div>
</div>


<div id="menu">
	<button class="openMenu" onclick="_close()">x</button>

	<a class="enlaceMovil" href="/#Quienes">¿Quíenes somos?</a>
	<a class="enlaceMovil" href="/#Que">¿Qué es Coderdojo?</a>
	<a class="enlaceMovil" href="/#Contacto">Contacto</a>
	<a class="enlaceMovil" href="/blog">Blog</a>

</div>