<script src="/js/rsa_encrypt.js"></script>
<script src="/js/header.js"></script>
<script src="/js/forms.js"></script>
<link rel="stylesheet" href="">
<link rel="stylesheet" href="/css/headerBlog.css">
<div class="header">
	<button class="openMenu" onclick="_open()">
		≡
	</button>
	<div id="divLogo"><a href="/"><img src="/img/logo.svg" id="logo"></a></div>
	<nav class="buttons">
		<a class="link" href="/blog">Blog</a>
		{% if session.get('user') %}
			<a class="link">{{ session.get('user')[2] }} ({{ session.get('user')[3] }})</a>
			<div class="dropdown">
				<img src="/u/{{ session.get('user')[1] }}/img" onclick="showDropdown()" class="dropbtn">
				<div id="dropdownContent" class="dropdown-content">
					{% if session.get('user')[3] > 0 %}
					<a class="link" href="/create_post">Create Post</a>
					{% endif %}
					<a class="link" href="/logout">Log out</a>
				</div>
		  	</div>
		{% else %}
			<a class="link" style="cursor: pointer;" onclick="onLogIn()">Log In</a>
			<a class="link" style="cursor: pointer;" onclick="onSignUp()">Sign Up</a>
		{% endif %}
	</nav>
</div>


<div id="menu">
	<button class="openMenu" onclick="_close()">⨯</button>
	<a class="mobileLink" href="/blog">Blog</a>
	{% if session.get('user') %}
	<a class="mobileLink">{{ session.get('user')[2] }}</a>
	<img src="/u/{{ session.get('user')[1] }}/img" style="max-height: 3vh;">
	<a class="mobileLink" href="/logout">Log out</a>
	{% else %}
	<a class="mobileLink" style="cursor: pointer;" onclick="onLogIn()">Log In</a>
	<a class="mobileLink" style="cursor: pointer;" onclick="onSignUp()">Sign Up</a>
	{% endif %}
</div>

<!--Code for the LogIn and SignUp forms :) -->

<!--LogIn-->
<div id="logIn" class="modal" onmousedown="offLogIn(event,this)">
	<form class="modal-content animate" onsubmit="submitLogin(event, this)">
		<div class="formDivs">
			<span onclick="offLogIn(event,this)" class="close" title="Close Modal">&times;</span>
			<img src="/img/CoderDojoLogo.svg" alt="logo" class="avatar">
			<h1 id="formTitle">Inicia sesión en CoderDojo Majadahonda</h1>
		</div>
		<div class="error"><span id="loginError"></span></div>
		<div class="formDivs">
			<label for="uname"><b>Nombre de usuario</b></label>
			<input type="text" placeholder="Escribe tu nombre de usuario" name="username" required>

			<label for="psw"><b>Contraseña</b></label>
			<input type="password" placeholder="Escribe tu contraseña" name="password" required>

			<button class="formButton" type="submit">Login</button>
			<span class="psw">No tienes una cuenta?
				<a style="color: black;cursor: pointer;font-weight: bold;" onclick="offLogIn(event,this);onSignUp()">Créate una!</a>
			</span>
		</div>
	</form>
</div>

<!--SignUp-->
<div id="signUp" class="modal" onmousedown="offSignUp(event,this)">
	<form class="modal-content animate" onsubmit="submitSignup(event, this)">
		<div class="formDivs">
			<span onclick="offSignUp(event,this)" class="close" title="Close Modal">&times;</span>
			<img src="/img/CoderDojoLogo.svg" alt="logo" class="avatar">
			<h1 id="formTitle">Crea una cuenta en CoderDojo Majadahonda</h1>
		</div>
		<div class="error"><span id="signupError"></span><span id='message'></span></div>
		<div class="formDivs">
			<label for="uname"><b>Nombre de usuario</b></label>
			<input type="text" placeholder="Escribe un nobre de usuario" name="username" required>

			<label for="psw"><b>Contraseña</b></label>
			<input id="p" type="password" placeholder="Escribe una contraseña" name="password" onkeyup="check();" required>

			<label for="psw"><b>Repetir contraseña</b></label>
			<input id="rp" type="password" placeholder="Repite tu contraseña" onkeyup="check();" required>

			<input id="logInButton" class="formButton" type="submit" value="Signup">

			<span class="psw">Ya tienes cuenta?
				<a style="color: black;cursor: pointer;font-weight: bold;" onclick="offSignUp(event,this);onLogIn()">Inicia sesión!</a>
			</span>
		</div>
	</form>
</div>