<!DOCTYPE html>
<html lang="en">
	
<head>
	{% include 'header.html' %}
	<link rel="stylesheet" href="/css/image.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/general.css">
	<script src="js/header.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile picture | CoderBrother</title>
	<style>
		.hidden {
			display: none;
		}
	</style>
</head>

<body>
	<div class="imgAdd">
		<form action="/blog">
		<input class="bbuton" src="/img/back.png" type="image" value="Back">
		</input>
		</form><input class="selectPic" type="file" id="image">
		<img id="pic">
		{% if session.get('user') %}
		<h2 class= "textt">CURRENT PROFILE PICTURE</h2>
		<img class= "ppic" src="/u/{{ session.get('user')[1] }}/img">
		<h3 class= "texti">INSERT IMAGE FROM DEVICE</h3>
		<form class="button" class="upImg"action="/update_img" method="post" id="form" class="hidden">
			<input type="hidden" name="image" id="update_img_base64">
			<input type="submit"  value="Update image">
		</form>
	</div>
	{% endif %}
	<div class="premade">
		<h3 class="textp">OR CHOOSE FROM THESE</h3>
		<div class="scroll">
			<input class="bbuton" src="/img/back.png" type="image" value="Back"></input>
		</div>
	</div>


	<script src="js/image.js"></script>
</body>

</html>