{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/blog.css">
{% endblock %}
{% block content %}
<!--<div id="quienes">
    <div id="img-quienes" style="background-image: url(/img/harold.jpg); height: 20vh; width: 100%;">¿Quiénes somos?</div></div>
</div>

<div id="dojo">
    <!--<div style="background-image: url(../img/); height: 400px; width: 100%;">¿Qué es el CoderDojo?</div></div>
</div>

<div class="container">
    <img src="/img/harold.jpg" style="width:100%;">
    <div class="centered">Centered</div>
</div>

<div id="contacto">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.053438418634!2d-3.868914084642456!3d40.47408277935849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418489f366583f%3A0xe6ed3ae6ca81ad8!2sCentro%20Juvenil%20Pr%C3%ADncipe%20de%20Asturias!5e0!3m2!1ses!2ses!4v1599059064404!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><br>
    <a href="https://twitter.com/codernauts_es?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @codernauts_es</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>-->

<!--Gran parte de este acrchivo está comentado por que es un lio y hay muchas cosas que mejorar. Codigo nuevo abajo y si incluye CSS porfavor ponerlo en el archivo index.css y poner un comentarío  diciendo donde el codigo nuevo. Gracias-->




{% endblock %}
