{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<!-- <link rel="stylesheet" href="/css/blog.css"> -->
{% endblock %}
{% block content %}
<div id="QueEs"> 
    <p id="title1">¿Qué es CoderDojo?</p>
    <p>CoderDojo (club del código) es una iniciativa internacional sin ánimo de lucro surgida en 2011 en Irlanda, fundado por James Whelton y Bill Liao, con el objetivo de enseñar a niños, niñas y jóvenes a programar.<br>El elemento central del "Club de Código" es que los y las menores puedan aprender las nociones básicas de la programación, potenciando el desarrollo de los participantes y respetando sus procesos de madurez y diversos ritmos de aprendizaje. Un Dojo es un Club de voluntarios y voluntarias independiente y gratuito, creado en una comunidad local que forma parte de la red CoderDojo. Está organizado por un máster (organizador/a) y su equipo de mentores/as (voluntarios/as) </p>
</div>
<div id="hacemos">
    <p id="title2">¿Qué hacemos?</p>
    <p>En CoderDojo Majadahonda los participantes (Ninjas) de entre 7 y 18 años aprenden cómo codificar, desarrollar sitios web, aplicaciones, programas, juegos y explorar la tecnología. <br>Aprender a programar no solo significa que alguien se pueda convertir en un desarrollador de software, sino que permite directamente desarrollar ciertas habilidades que podemos incorporar a nuestra vida cotidiana: análisis de problemas, pensamiento lógico, capacidad para planificar tareas, aceptar y superar errores, etc...</p>
</div>
<div id="contacto">
    <p id="title3">Contacto</p>
    <p>Si te interesa el Dojo o quieres saber más. No dudes en contactarnos en *insert link a email chulo*</p> <br> </br>
    <a href="https://twitter.com/codernauts_es?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @codernauts_es</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br></br>
    <div class="g-ytsubscribe" data-channelid="UCDm2ruqkI_F8zK4Wz0hKCXw" data-layout="full" data-count="hidden"></div>
</div>
{% endblock %}
<script src="https://apis.google.com/js/platform.js"></script>