{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block content %}
<!--
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.053438418634!2d-3.868914084642456!3d40.47408277935849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418489f366583f%3A0xe6ed3ae6ca81ad8!2sCentro%20Juvenil%20Pr%C3%ADncipe%20de%20Asturias!5e0!3m2!1ses!2ses!4v1599059064404!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><br>
    <a href="https://twitter.com/codernauts_es?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @codernauts_es</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
-->
    

<div class="Quienes" style="background-image: url(/img/francia.jpg);height: 400px; width: 100%;">
  <div class="caption">
    <span class=border id=quickfix2>CoderDojo Majadahonda</span>
    <span class=border id=quickfix>CoderDojo</span>
    <span class=border id=quickfi   x>Majadahonda</span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="font-size:2.5vh;text-align:center;">¿Quíenes somos?</h3>
  <p>somos msmsmmsmsmsmmsmsmsmssmms.</p>
</div>

  <div class="QueEs"style="background-image: url(/img/harold.jpg);height: 400px; width: 100%;">
    <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">¿Qué es el </span>
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">CoderDojo?</span>
    </div>
  </div>
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>El dojo es papappapapapppappapa</p>
    </div>
  </div>
  <div class="Contacto"style="background-image: url(/img/rickroll.webp);height: 400px; width: 100%;">
    <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Contacto</span>
    </div>
  </div>
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>siguenos en teirtreuihfiudhiuegfbldjk,hgfikesjdn.</p>
    </div>
  </div>
  <div class="Quienes"style="background-image: url(/img/francia.jpg);height: 400px; width: 100%;">
    <div class="caption">
    <span class="border">ÚNETE!</span>
    </div>
  </div>

{% endblock %}
