<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>{% block custom_start %}{% endblock %}{% block title %}{% endblock %}{% block custom_ending %} | CoderBrothers{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="header">
        {% include 'header.html' %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% include 'footer.html' %}
    </div>
</body>