{% extends "layout.html" %}
{% block title %}Create Post{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<!--Temporal login-->
<div id="main">
    <div class="container"> <label for="username"><b>Usuario</b></label><input type="text" placeholder="Nombre de usuario:"name="username" required>
    </div>
    <div class="container"> <label for="password"><b>Contraseña</b></label><input type="password" placeholder="Contraseña:"name="password" required>
    </div>
    <button type="submit">Login</button>
</div>

<!--<form action="/login" method="POST">
    <input name="username" id="username" type="text">
    <input name="password" id="password" type="password">
    <input type="submit" value="Login">
</form>
{% if error %}
<a id="error">{{ error }}</a>
{% endif %}-->
{% endblock %} 