{% extends "layout.html" %}
{% block header %}{% endblock %}
{% block title %}LogIn{% endblock %}
{% block content %}

<link rel="stylesheet" href="/css/login.css">
<head></head>


<div class="main">
    
    <p id="title">LogIn a CoderDojo Majadahonda</p>
    <div id="formulario">
        <p class="etiqueta">Nombre de Usuario</p>
        <input type="text" placeholder=""name="username" required>
        <p class="etiqueta">Contraseña</p>
        </label><input type="password" placeholder=""name="password" required>
    </div>
    <p id="abajo">No tienes una cuenta? <a href="/signup">Créate una!</a></p>
</div>


{% endblock %}
<!--<form action="/login" method="POST">
    <input name="username" id="username" type="text">
    <input name="password" id="password" type="password">
    <input type="submit" value="Login">
</form>
{% if error %}
<a id="error">{{ error }}</a>
{% endif %}-->
