<div class="header">
	<div class="inerHeader">
		<button class="openMenu" onclick="_open()">
			≡
		</button>
		<div><img src="img/logo.svg" id="logo"></div>
		<div class="otherMenu">
			<a class="enlace" href="#">Qué es Coderdojo</a>
			<a class="enlace" href="#">Qué hacemos</a>
			<a class="enlace" href="#">Dónde estamos</a>
		</div>
	</div>
</div>


<div id="menu">
	<button class="openMenu" onclick="_close()">
		⨯
	</button>

	<a class="enlace" href="#">¿Qué es Coderdojo?</a>
	<a class="enlace" href="#">¿Qué hacemos?</a>
	<a class="enlace" href="#">¿Dónde estamos?</a>
</div>