* {
    margin: 0;
    padding: 0;
    background-color: #8f8f8f;
}

.header{
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: #101010;
  display: flex;
  flex-direction: row;
}

#menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 1vh;
    padding-left: 1vh;
    transition: 0.5s;
    background-color: #4DBC91;
    display: none;
    flex-direction: column;
}

#logo{
  height: 8vh;
  background-color: #101010;
  padding-top: 1vh;
  position: fixed;
}
.enlace{
    text-decoration: none;
    color: white;
    background-color: #4DBC91;
    padding: 1vmax;
}
#exit{
  border: none;
  color: black;
  display: inline-block;
}

/* CSS for the menu butoon*/
.nav div{
  height: 5px;
  width: 5vw;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 24px;
  transition: .3s;
}

.nav{
  display: block;
  padding-left: 3vw;
  width: 50px;
  background-color: #101010;
}
/*End of the CSS for the menu butoon*/

#test{
  height: 10000px;
}

@media only screen and (min-with:768px){
  
}